.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  overflow: hidden;
}

.error {
  font-size: 1.5rem;
  font-weight: 500;
  color: red;
  text-align: center;
}

@media (max-width: 950px) {
  .main {
    padding: 2rem 0;
  }
}
